@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>About Runners</h3>

<head>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>

<div class="Image">

</div>

    <div class="row">
        <div class="col-md-12">
            <p>
                This website will be about the the film reviews of various different selected films.The website will also contain the information regarding the actors and directors who have either starred
                or directed in the respective films.Only Registerd User Can add, edit, view, and delete review comments.
                User will also be able to add actors, films, and directors. The website also has a league table which ranks the best movies and the worst.
                The website also contains a filter which allows you to make specific searches on either Movies or Genres.
                The developers for the website are, Abdinasir, Faisal, Nahidul, Hamd, and Jide.

            </p>
        </div>
    </div>
