@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>

<div class="jumbotron">
    <h1>Welcome To Runners Film</h1>
    <div class="text-center">
        <p>Welcome To Runners Film Review Website </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Runners Film Review</h2>
        <p>
            Welcome to Runners Film Review. This website helps you decide which movies to watch. 
            it also gives you a guideline of what the movie is about, and the rating of the movie.
            In this website you have to choice to add new movies, edit excisting movies, and delete excisting movies.
            You are also able to rate the movies and search for movies. You are also able to get a list of actors and directors, 
            where you are then able to add, edit and delete the actors and directors. You get to write comments on the films, actors, and directors.    
        </p>
        
    </div>
   
    
</div>